<div>
  <div>
    <h1>
      Angular Basics
    </h1>
    <button [routerLink]="['/interpolation']">Interpolation</button>
    <button [routerLink]="['/prop-binding']">Property binding</button>
    <button [routerLink]="['/event-binding']">Event binding</button>
    <button [routerLink]="['/pipes']">Use of Pipes</button>
    <button [routerLink]="['/component-interaction']">Component Interaction</button>
  </div>
  <div style="margin-top:20px;">
    <router-outlet></router-outlet>
  </div>
</div>