<div>
  <div>
    <h1>
      Angular Basics
    </h1>
    <button class="btn btn-info" [routerLink]="['/interpolation']">Interpolation</button>
    <button class="btn btn-info" [routerLink]="['/prop-binding']">Property binding</button>
    <button class="btn btn-info" [routerLink]="['/event-binding']">Event binding</button>
    <button class="btn btn-info" [routerLink]="['/pipes']">Directives and Pipes</button>
    <button class="btn btn-info" [routerLink]="['/component-interaction']">Component Interaction</button>
    <button class="btn btn-info" [routerLink]="['/styles']">Style component</button>
    <button class="btn btn-info" [routerLink]="['/users']">HttpClient (Users list)</button>
    <button class="btn btn-info" [routerLink]="['/templateForm']">Template Form (Sign Up)</button>
    <button class="btn btn-info" [routerLink]="['/reactiveForm']">Reactive Form (Sign Up)</button>
  </div>
  <div style="margin-top:20px;">
    <router-outlet></router-outlet>
  </div>
</div>